[Unit]
Description=Spotify Party Project

[Service]
Type=simple
User=multibulls
Group=multibulls
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4801
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=WORKINGDIRECTORY
ExecStart=/bin/bash WORKINGDIRECTORY/start.sh

[Install]
WantedBy=multi-user.target