@import 'semantic-ui-css/semantic.min.css'

#root {
  background-color: #191414;
  color: white;
}

.alert {
  position: relative;
  top: 20px;
}

// login/logout form
.login {
  position: absolute;
  right: -80px;
  top: 7px;
}

.form-control {
  margin-right: 20px;
}

// nav bar
.nav-bar {
  border-bottom: 1px solid white;
  padding: 15px;
}

// spotify auth button
.auth-button {
  background-color: #1DB954;
  border: none;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 20px;
}

.landing-page {
  background-image: url('/images/concert2.jpg'); /* 16px x 16px */
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: -200px -250px;  /* equivalent to 'top left' */
  border: none;           /* assuming we don't want any borders */
  cursor: default;        /* make the cursor like hovering over an <a> element */
  height: 90vh;
  width: 77vw;      /* make this the size of your image */
}

.home-button {
  margin-right: 20px;
  background-color: #800080;
  border: none;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 20px;
}

.home-buttons {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.welcome {
  text-align: center;
  font-size: 60px;
}
